<div class="container">

	<div class="row">
		<div class="col-md-6">
			<h1>Editar Pin</h1>
			<%= render 'form', pin: @pin %>
		</div>
	</div>

		<button type="button" class="btn btn-primary btn-lg active"><%= link_to 'Ver', @pin %> </button>|
		<%= link_to 'Volver', pins_path %>
</div>