<div class="container">	
	<div class="jumbotron">
		<div class="page-header">
			<h1><a href="http://terramarbrands.com.mx/index.php/terramar/">
			<img src="http://terramarbrands.com.mx/pics/cabecera/logo_tb.png" class="img-responsive"  > 
			</a></h1>
		</div>
		<a href= "http://terramarbrands.com.mx/index.php/terramar/" class="btn btn-default">Terramar Brands
			<span class="glyphicon glyphicon-star-empty" style="color: blue;"></span>
		</a>

	</div>
</div>
<div class="container">
	<div class="row">
		
		<div class="col-md-4">
			<div class="page-header">
				<h2>Nosotros</h2>
			</div>
			<p class="titulos">Juntos los tres representan más de 100 años de experiencia en la venta directa, habiendo abierto con gran éxito más de 35 países en 7 continentes. Finalmente, después de una larga carrera, logran con entusiasmo hacer realidad el gran sueño de abrir su propia compañía, TERRAMAR BRANDS. El país para ser su sede, su país favorito: México.
			</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
				<h2>Misión</h2>
			</div>
			<p>Absoluto compromiso de mejorar la vida de las mujeres mexicanas y sus familias ofreciéndoles productos innovadores que combinan lo más selecto de la naturaleza y la ciencia para brindarles un inigualable plan de carrera y oportunidad de negocio que existe en el mercado mexicano.</p>
		</div>


		<div class="col-md-4">
		<div class="page-header">
			<h2>Linea de Productos</h2>
		</div>
		<p>Basada en los más novedosos ingredientes de belleza, así como extractos que se encuentran en los recursos naturales de la tierra y de mar; combinados con activos científicos y alta tecnología, así como texturas brillantes y una armonía de exclusivas fragancias originales.</p>
		<ol>
			<li>Cuidado de la Piel</li>
			<li>Maquillaje</li>
			<li>Cuidado Capilar</li>

		</ol>
		</div>
	</div>
</div>



